<h1>What people are saying about Tech 🖥️ </h1>
<section class="card text-center">
  <div class="card-body">
{{#each posts as |post| }}
<h1>Post Title: {{post.title}}</h1>
<br>
<h3>{{post.body}}</h3>
<h4>{{post.comment}}</h4>
<p>Created by {{user.name}} on {{createdAt}}</p>
<br>
<h3>Comments:</h3>
{{#each comments as |comment|}}
<h6 name='comment-body'>{{comment.body}}</h6>
<h6 name='comment-user'>Written by: {{comment.name}}</h6>
<h6>{{comment.date}}</h6>
<br>
{{/each}}
<a href='/comment/{{post.id}}'>Add a Comment!</a>
{{/each}}
</div>
</section>
